<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/perfil_admin.css">
    <title>Perfil</title>
</head>
<body>
    <header>
        <div class="menu">
            <button class="hamburguer">
                <div id="barra1" class="barra"></div>
                <div id="barra2" class="barra"></div>
                <div id="barra3" class="barra"></div>
            </button>
            <nav>
                <ul>
                    <div class="perfil" onclick="Perfil()">
                        <img src="../assets/man.png" alt="foto de perfil">
                        <div class="editar">
                            <p>Administrador</p><i class="bi bi-pencil" style="color: #fff; margin-left: 5px;"></i>
                        </div>
                    </div>
                    <div class="itensmenu">

                        <div class="cardmenu">
                            <i class="bi bi-house"></i>
                            <li><a href="home_admin.html">Home</a></li>
                        </div>
                        <div class="cardmenu">
                            <i class="bi bi-person-add"></i>
                            <li><a href="cadastro.html">Cadastrar Usuário</a></li>
                        </div>
                        <div class="cardmenu">
                            <i class="bi bi-house-add"></i>
                            <li><a href="cadastrar_ambientes.html">Cadastrar Ambientes</a></li>
                        </div>
                        <div class="cardmenu">
                            <i class="bi bi-house-door"></i>
                            <li><a href="ambientes.html">Ambientes</a></li>
                        </div>
                    </div>
                    <div class="sair" onclick="Sair()">
                        <i class="bi bi-box-arrow-right"></i>
                        <p>Sair</p>
                    </div>

                </ul>
            </nav>
        </div>
        <div class="logo">
            <img src="../assets/logo_senai.png" alt="logo-senai">
        </div>
        <div class="notificacao">
            <i class="bi bi-bell"></i>
        </div>
    </header>

    <main class="main-colaborador">
        <div class="conteiner-perfil">
            <div class="perfil">
                <img src="../assets/man.png" alt="Foto do colaborador">
                <p>Colaborador</p>
            </div>
        </div>

        <!-- DADOS -->
         <div class="dados">
            <div class="info">
                <p>Email</p>
                <p>colaborador@gmail.com</p>
            </div>
            <div class="info">
                <p>Senha</p>
                <p>**********</p>
            </div>
            <div class="info">
                <p>Cargo</p>
                <p>Colaborador</p>
            </div>

         </div>

        <div class="editar-logout">
            <div class="card" onclick="Sair()">
                <i class="bi bi-box-arrow-in-right" style="color: #940808;"></i>
                <p>Sair</p>
            </div>
            <div class="card" onclick="Editar()">
                <i class="bi bi-person-fill-gear" style="color: #940808;"></i>
                <p>Editar perfil</p>
            </div>
        </div>
    </main>

    <footer></footer>
    <script>
        function Editar(){
            window.location.href = 'editar_colaborador.html';
        }

        function Sair(){
            window.location.href = 'login.html';
            alert("Você saiu da sua conta...")
        }

        // MENU
        const hamburguer = document.querySelector(".hamburguer");
        const nav = document.querySelector("nav");

        hamburguer.addEventListener("click", () => {
            // animação do hambúrguer (vira X)
            hamburguer.classList.toggle("aberto");

            // abre/fecha o menu
            nav.classList.toggle("ativo");
        });

    </script>
</body>
</html>